$default-font: "Fashion Fetish", sans-serif
$font-title: "Fashion Fetish", sans-serif
$font-text: "Fashion Fetish", sans-serif
$font-nav: "Fashion Fetish", sans-serif
$accent: #c81284
$white: white
$black: black
$dark-red: #41073f

