$default-font: "Fashion Fetish", sans-serif
$font-title: "Fashion Fetish", sans-serif
$font-text: "Fashion Fetish", sans-serif
$font-nav: "Fashion Fetish", sans-serif
$font-bold: "Century Gothic", sans-serif

$accent: #e90a88
$white: white
$black: black
$dark-red: #41073f
$background: #e8e8e8

